/*
 * Rofi Colors - Generated with Matugen
 */

* {
    bg0:    rgba(27, 16, 22, 0.75);
    bg1:    #281c22;
    bg2:    #33262d;
    bg3:    #890065;
    fg0:    #f3dde6;
    fg1:    #f3dde6;
    fg2:    #d6c1ca;
    fg3:    #9f8c94;
    border: #ffaeda;
}
