/*
 * Rofi Colors
 * Generated with Matugen
 */

* {
    background: rgba(19, 19, 24, 0.7);
    background-color: rgba(19, 19, 24, 0.7);
    surface: rgba(19, 19, 24, 0.7);
    primary: #bfc2ff;
    primary_container: #3e4278;
    on_primary: #272b60;
    on_surface: #e4e1e9;
    on_surface_variant: #c7c5d0;
    outline: #918f9a;
    outline_variant: #46464f;
    secondary: #c5c4dd;
    tertiary: #e8b9d4;
}
